.score-title {
    text-align: center;
}

#id {
    text-align: center;
}

.result {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.grid {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: blue;
}

.grid div {
    width: 100px;
    height: 100px;
    background-color: yellow;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}